@use '../utils/index' as *;

.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: $m;
  height: 100dvh;
  padding: var(--spacing);
  padding-bottom: calc(var(--spacing-block) * 8);
  overflow-y: auto;
  background-color: var(--color-secondary-white);
  transform: translateX(100%);
  transition: var(--transition);
  transition-property: transform;

  &[aria-hidden='false'] {
    transform: translateX(0);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-top: 0;
    color: var(--color-primary);

    &__placeholder {
      @extend %screen-reader-only;
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    min-height: 44px;
    color: var(--color-primary-black);
    cursor: pointer;
    background: transparent;
    border: none;

    &:focus-visible {
      outline: 3px solid currentColor;
      outline-offset: 3px;
    }
  }

  &__body {
    flex: 1;
    color: var(--color-primary-black);
  }

  &__content {
    h3 {
      color: var(--color-primary);
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    z-index: 98;
    pointer-events: none;
    background-color: rgb(0 0 0 / 50%);
    opacity: 0;
    transition: var(--transition);
    transition-property: opacity;

    &[aria-hidden='false'] {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
