@use '../utils/index' as *;

body {
  font-family: var(--font-body);
  font-size: var(--font-body-regular);
  color: var(--color-secondary-white);
  background-color: var(--color-primary);
}

h1 {
  font-family: var(--font-display);
  font-size: var(--font-display-extra-large);
  color: var(--color-secondary);
}

h2 {
  font-family: var(--font-display);
  font-size: var(--font-display-large);
  color: var(--color-secondary);
}

h3 {
  font-family: var(--font-display);
  font-size: var(--font-display-medium);
  color: var(--color-secondary);
}

h4 {
  font-family: var(--font-display);
  font-size: var(--font-display-regular);
  color: var(--color-secondary);
}

h5 {
  font-family: var(--font-display);
  font-size: var(--font-display-small);
  color: var(--color-secondary);
}

h6 {
  font-family: var(--font-display);
  font-size: var(--font-display-extra-small);
  color: var(--color-secondary);
}

small {
  font-size: var(--font-body-extra-small);
}

.list-item {
  &__check::marker {
    color: var(--color-secondary-variant);
    content: '☑ ';
  }
}
