@use '../utils/index' as *;

.sitewide-footer {
  background-color: var(--color-primary-dark);

  &__container {
    @extend %container;

    container-name: footer;
    container-type: inline-size;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-block);
    align-items: start;
    justify-content: start;

    @container footer (width >= #{$m}) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link {
    @extend %link;
  }
}
