@use '../utils/index' as *;

.intro {
  --color-separator: var(--color-primary);

  @extend %section-has-background;
  @extend %section-has-separator;

  background-color: var(--color-primary-dark);

  &::before {
    @extend %background-squares;
  }

  &__container {
    @extend %container;

    padding-bottom: calc(var(--spacing-block) * 4);
  }

  &__wrapper {
    @extend %stay-on-top;
  }

  &__eyebrow {
    margin-bottom: var(--spacing-block);
    font-weight: var(--font-bold);
    text-align: center;
    letter-spacing: var(--letter-spacing);
    opacity: 0.8;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: var(--font-display-large);
    text-align: center;

    &__line:nth-child(1) {
      color: var(--color-secondary-variant-white);
    }
  }

  &__subtitle {
    width: fit-content;
    max-width: 65ch;
    margin: var(--spacing-block) auto calc(var(--spacing-block) * 3);
    font-size: var(--font-body-large);
    font-weight: var(--font-bold);
    line-height: 1;
    color: var(--color-secondary-variant-white);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
  }

  &__cta {
    @extend %button;
  }
}
