@use '../utils/index' as *;

.warranty-content {
  --color-separator: var(--color-primary-dark);

  @extend %section-has-separator;

  &__container {
    @extend %container;

    padding-block: calc(var(--spacing-block) * 1.5)
      calc(var(--spacing-block) * 3);
    container-name: boxes;
    container-type: inline-size;
  }

  @include boxes('warranty-content__points', 2);

  &__points {
    @extend %stay-on-top;
  }
}
