@use '../utils/index' as *;

.who-content {
  --color-separator: var(--color-secondary);

  @extend %section-has-background;
  @extend %section-has-separator;

  background-color: var(--color-primary);

  &::before {
    @extend %background-squares;
  }

  &__container {
    @extend %container;

    padding-block: calc(var(--spacing-block) * 4)
      calc(var(--spacing-block) * 10);
    container-name: background;
    container-type: inline-size;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--spacing-inline) * 2);

    @container background (width >= #{$xl}) {
      grid-template-columns: 45fr 55fr;
    }

    &--left {
      display: flex;
      flex-direction: column;
    }
  }

  &__bio {
    &__title {
      margin-block: calc(var(--spacing-block) * 2);
      font-size: var(--font-display-regular);
      color: var(--color-secondary-variant);
      text-align: center;
    }

    &__description {
      font-style: italic;
      color: var(--color-secondary-variant-white);

      &--list {
        & > li {
          margin-top: calc(var(--spacing-block) * 4);

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  &__stack {
    --color-icon: var(--color-primary);

    margin-top: auto;

    &__title {
      margin-block: calc(var(--spacing-block) * 4)
        calc(var(--spacing-block) * 2);
      font-size: var(--font-display-regular);
      color: var(--color-secondary-variant);
      text-align: center;
    }

    &__technologies {
      @extend %list-reset;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
      gap: calc(var(--spacing-inline));

      &__item {
        padding-block: var(--spacing-block);
        padding-inline: calc(var(--spacing-inline) / 2);
        background-color: var(--color-secondary-variant-white);
      }
    }
  }

  &__timeline {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--spacing-inline);

    &__bar {
      width: 8px;
      margin-left: calc((44px / 2) - 8px);
      background-color: var(--color-secondary-white);
      opacity: 0.4;
    }

    &__points {
      --color-icon: var(--color-primary);

      @extend %list-reset;

      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing-block) * 4);

      &__item {
        &__eyebrow {
          font-size: var(--font-body-extra-small);
          font-style: italic;
          opacity: 0.8;
        }

        &__title {
          position: relative;
          margin: 0;
          font-size: var(--font-display-regular);

          &__icon {
            position: absolute;
            top: -4px;
            left: calc((var(--spacing-inline) + 4px + 22px) * -1);
            width: 44px;
            height: 44px;
            content: '';
            background-color: var(--color-white);
            border-radius: var(--circle);
          }
        }
      }
    }
  }
}
