@use '../utils/index' as *;

.main-footer {
  &__container {
    @extend %container;

    container-name: footer;
    container-type: inline-size;
  }

  &__wrapper {
    @extend %wrapper;

    justify-content: space-between;
  }

  &__link {
    @extend %link;
  }
}
