@use '../utils/index' as *;

.privacy-policy {
  &__container {
    @extend %container;

    container-name: privacy-policy;
    container-type: inline-size;
    background-color: var(--color-grey-black);
  }

  &__wrapper {
    @extend %wrapper;

    flex-direction: column;
    align-items: start;
  }
}
