@use './variables' as *;

%section-has-background {
  position: relative;
}

%section-has-separator {
  position: relative;
}

%container {
  max-width: $xxl;
  padding: var(--spacing);
  margin-inline: auto;
}

%container-narrowed {
  @extend %container;

  max-width: $m;
}

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-height: 44px;
  padding: var(--spacing);
  margin-inline: auto;
  margin-top: calc(var(--spacing-block) * 2);
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--font-bold);
  line-height: 1;
  color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--color-secondary-white);
  border-radius: var(--circle);
  transition: var(--transition);
  transition-property: transform;

  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }

  &:active {
    cursor: pointer;
    transform: scale(0.9);
  }

  &:focus-visible {
    cursor: pointer;
    outline: 3px solid currentColor;
    outline-offset: 3px;
  }
}

%link {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  color: inherit;
  text-decoration: underline;
  background: none;
  border: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:active {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus-visible {
    cursor: pointer;
    outline: 3px solid currentColor;
    outline-offset: 3px;
  }
}

%background-squares {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: '';
  background-image:
    linear-gradient(var(--color-secondary) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-secondary) 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.04;
  mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      black 5%,
      black 95%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
  mask-composite: intersect;
}

%list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

%screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

%stay-on-top {
  position: relative;
  z-index: 1;
}
