<nav class="navigation" aria-label="Navigazione principale">
  <button class="navigation__toggler__button" aria-label="Apri menu">
    {{> hamburger}}
  </button>
  <ul class="navigation__menu">
    <li class="navigation__close">
      <button class="navigation__close__button" aria-label="Chiudi menu">
        {{> error}}
      </button>
    </li>
    <li class="navigation__menu__item">
      <a class="navigation__menu__item__link" href="#what">Metodo</a>
    </li>
    <li class="navigation__menu__item">
      <a class="navigation__menu__item__link" href="#who">Chi Sono</a>
    </li>
    <li class="navigation__menu__item">
      <a class="navigation__menu__item__link" href="#warranty">Garanzia</a>
    </li>
    <li class="navigation__menu__item">
      <a class="navigation__menu__item__link" href="#hire">Parliamone</a>
    </li>
  </ul>
</nav>
