<nav class="navigation">
  <div class="navigation__toggler">{{> hamburger}}</div>
  <ul class="navigation__menu">
    <li class="navigation__menu__close">
      <button class="navigation__menu__close__button" aria-label="Chiudi menu">
        {{> error}}
      </button>
    </li>
    <li class="navigation__menu__item">
      <a class="navigation__menu__item__link" href="#intro">Intro</a>
    </li>
    <li class="navigation__menu__item">
      <a class="navigation__menu__item__link" href="#promise">Metodo</a>
    </li>
    <li class="navigation__menu__item">
      <a class="navigation__menu__item__link" href="#background">Chi Sono</a>
    </li>
    <li class="navigation__menu__item">
      <a class="navigation__menu__item__link" href="#hire-me">Parliamone</a>
    </li>
  </ul>
</nav>
