{{#if (eq type "triangle-down")}}
<svg class="separator" viewBox="0 0 1000 100" preserveAspectRatio="none">
  <polygon
    points="0,0 500,100 1000,0 1000,100 0,100"
    fill="var(--color-separator, var(--color-white))"
  />
</svg>
{{/if}}
<!-- prettier-ignore -->
{{#if (eq type "wings-down")}}
<svg class="separator" viewBox="0 0 1000 25" preserveAspectRatio="none">
  <polygon
    points="0,0 200,25 0,25"
    fill="var(--color-separator, var(--color-white))"
  />
  <polygon
    points="1000,0 800,25 1000,25"
    fill="var(--color-separator, var(--color-white))"
  />
</svg>
{{/if}}
