<section class="explanation" id="explanation">
  <div class="explanation__container">
    <ul class="explanation__points">
      <li class="explanation__points__item">
        <h2 class="explanation__points__item__title">
          <span class="explanation__points__item__title__line">1.</span>
          <span class="explanation__points__item__title__line">Cosa</span>
        </h2>
        <p class="explanation__points__item__description">
          Sviluppo siti web e web app per ogni esigenza utilizzando le opportune
          tecnologie caso per caso. Mi occupo anche del pre e post sviluppo
          ovvero ricerca, analisi, formazione e supporto.
        </p>
      </li>
      <li class="explanation__points__item">
        <h2 class="explanation__points__item__title">
          <span class="explanation__points__item__title__line">2.</span>
          <span class="explanation__points__item__title__line">Come</span>
        </h2>
        <p class="explanation__points__item__description">
          Sviluppo solo strumenti digitali concretamente utili ovvero soluzioni
          a necessità reali della tua attività imprenditoriale. E lo faccio
          ascoltandoti con attenzione e mettendo tutto per iscritto.
        </p>
      </li>
      <li class="explanation__points__item">
        <h2 class="explanation__points__item__title">
          <span class="explanation__points__item__title__line">3.</span>
          <span class="explanation__points__item__title__line">Garanzia</span>
        </h2>
        <p class="explanation__points__item__description">
          Mi accollo la maggior parte del rischio. Suddivido ogni lavorazione in
          task focalizzati di modo che investi poco per volta e puoi fermarti in
          ogni momento e ottenere il rimborso.
        </p>
      </li>
    </ul>
  </div>
  {{> separator type="triangle-down" }}
</section>
