<footer class="sitewide-footer">
  <div class="sitewide-footer__container">
    <div class="sitewide-footer__wrapper">
      <div class="sitewide-footer__wrapper--left">
        <small class="sitewide-footer__info">
          &copy; 2026 Factor Studio – C.F. DFNGNR82C21H892N – P.IVA 10887481215
        </small>
      </div>
      <div class="sitewide-footer__wrapper--right">
        <small>
          <button
            class="sitewide-footer__link"
            data-offcanvas="privacy-policy"
            data-offcanvas-title="Privacy Policy"
            type="button"
          >
            Privacy Policy
          </button>
        </small>
      </div>
    </div>
  </div>
</footer>
