<section class="hire-me" id="hire-me">
  <div class="hire-me__container">
    <h2 class="hire-me__title">Parliamone</h2>
    <p class="hire-me__description">
      Compila il form con le tue informazioni e necessità. Ti ricontatto entro
      24 ore per fissare una call di modo che ci conosciamo, capiamo se c'è la
      base per collaborare e valutiamo insieme i prossimi passi. Nessun impegno
      da parte di nessuno.
    </p>
    <div class="hire-me__contact-form">{{> form }}</div>
  </div>
</section>
